* {
    max-width: 900px;
    margin: auto;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
}

h1,
h2,
h3 {
    margin-top: 10px;
    text-align: center;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: rgb(128, 105, 255);
    text-decoration: underline;
}

p {
    margin-top: 10px;
    font-size: 12;
}

ul {
    font-size: 15px;
    margin-left: 40px;
}